textblob==0.15.3
pathos==0.2.5
wordcloud==1.6.0
nltk==3.4.4
tensorboard==2.0.2
transformers==2.0.0
matplotlib==3.1.2
more_itertools==7.2.0
torch==1.3.1
tensorflow==2.0.0
emoji==0.5.3
spacy==2.2.3
numpy==1.17.3
regex==2019.8.19
textsearch==0.0.17
tqdm==4.39.0
astor==0.7.1
requests==2.22.0
isodate==0.6.0
gensim==3.8.1
tensorflow_hub==0.7.0
records==0.5.2
pandas==0.25.3
dataset==1.1.2
google_api_python_client==1.7.11
lxml==4.4.2
pattern==3.6
scikit_learn==0.21.3
